/**
 *  Colors
 */
$black: #393939;
$white: #fff;
$orange: #EF4B00;
$light-orange: #FA7D00;
$linen: #FBE6CE;

/**
 *  Fonts
 */


$noto-sans: 'noto_sans', sans-serif;
$poppins: 'poppins', sans-serif;
$fira_sans: 'fira_sans', sans-serif;
